//- Conditions HTML IE

//- @method ie
	@param condition {string}
	@param not {boolean}
	@return {comment}
	
	+ie( 'lte IE 8', true !! false )
		link(..)

mixin ie (condition, not)
	!="<!" + ( not == false || not === '' ?  '' : '--' ) + "[if " + condition + "]>"
		block
	!="<![endif]" + ( not == false || not === '' ?  '' : '--' ) + ">"

//- @method ie-simple
	@param condition {boolean|string}
	@param version {number|null}
	@param not {boolean}
	@return {comment}
	
	+ie-simple( 'lte', 8, true )
		link(..)

mixin ie-simple (condition, version, not)
	!="<!" + ( not ?  '--' : '' )  + "[if "+ (typeof condition == 'boolean' ? condition ? '' : '!' : condition + ' ' ) + "IE " + ( typeof condition == 'string' && !version ? 6 : version || '' ) + "]>"
		block
	!="<![endif]" + ( not ?  '--' : '' ) + ">"
