//- Templates in brower

//- @method template
	@param types {string}
	@param name {string}
	@return {script}
	
	+template( 'ember', 'my-template')
		p The template

mixin template( types, name )
	script( type={
		'angular'	: 'text/ng-template',
		'knockout' 	: 'text/html',
		'ember'		: 'text/x-handlebars' }[ types ],
		id!=attributes.id || name,
		data-template-name!=attributes.id || name )
		block

